{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block content %}
	{% if projects %}
	<ul>
		{% for project in projects %}
		<li><a href="/project/{{project.id}}">{{project.name}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}