{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block scripts %}
	<script src="js/timer-anim.js"></script>
{% endblock %}
{% block content %}
	<div id="timer"></div>
{% endblock %}